html {
    --background-color:#a0d485;
    --primary-color: #68af44;
    --secondary-color: #638055;
    --selected-color: #2c6611;
    --active-color: #223519;


    background-color: var(--background-color);
}

body {
    


    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}



.title {
    --bottom-radius: 15%;
    padding: 10px;
    text-align: center;
    background: var(--primary-color);
    color: white;
    font-size: 30px;
    border-bottom-left-radius: var(--bottom-radius);
    border-bottom-right-radius: var(--bottom-radius);
}

.header {
    background: var(--secondary-color);
    --bottom-radius: 5%;
    top: 0;
    width: 100%;


    border-bottom-left-radius: var(--bottom-radius);
    border-bottom-right-radius: var(--bottom-radius);
}



.navbar {
    display: flex;
    flex-wrap:wrap;
    padding: 3px 35px;
}

.navbar button {
    background-color: transparent;
    transition-duration: 0.25s;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 5px;
    flex-grow: 4;
    font-size: 20px;
    cursor:pointer;
    text-decoration: none;
    border-style:none;
}

.navbar button:hover {
    background-color:var(--selected-color);
    flex-grow: 5;
}

.navbar button:active {
    padding: 5px 15px;
    background-color: var(--active-color);
    transition-duration: 0.5s;
}

